<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    #emoji{
        font-size: 150px;
        position: absolute;
        top: -90px;
        left: -90px;
    }
    .demo-wrapper{
        position: relative;
    }

</style>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

<div class="container">
    <div class="jumbotron vertical-center" style="background:#003a65;">
    <div class="row">

        <div class="col">
            <img src="../static/cover2.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>

                <div class="demo-wrapper">
        <div id="emoji">🔧</div>

    </div>
</div>
</div>



<script src="../static/js/node_modules/animejs/lib/anime.min.js"></script>
<script>
    let path = anime.path('#demo-svg path');
anime({
  targets: '#emoji',
  translateX: [
    { value: 900, duration: 1000, delay: 100, elasticity: 0 },
    { value: 0, duration: 1000, delay: 500, elasticity: 0 }
  ],
  translateY: [
    { value: -40, duration: 500, elasticity: 500 },
    { value: 40, duration: 500, delay: 100, elasticity: 100 },
    { value: 0, duration: 500, delay: 100, elasticity: 100 }
  ],
  scaleX: [
    { value: 4, duration: 100, delay: 100, easing: 'easeOutExpo' },
    { value: 1, duration: 900, elasticity: 300 },
    { value: 4, duration: 100, delay: 500, easing: 'easeOutExpo' },
    { value: 1, duration: 900, elasticity: 300 }
  ],
  scaleY: [
    { value: [1.75, 1], duration: 100 },
    { value: 2, duration: 50, delay: 100, easing: 'easeOutExpo' },
    { value: 1, duration: 450 },
    { value: 1.75, duration: 50, delay: 100, easing: 'easeOutExpo' },
    { value: 1, duration: 450 }
  ],
  loop: true
});



</script>

</body>
</html>

